<h1><%= t('.header', title: @test_passage.test.title) %> <%= t('.success') %></h1>

<h2>You answered <%= result_color(@test_passage.score) %> questions correctly</h2>

<% if @test_passage.score_positive?  %>
  <h2 style='color: green'>Test successfully passed!</h2>
<% else %>
  <h2 style='color: red'><%= t('.header', title: @test_passage.test.title) %> <%= t('.fail') %></h2>
<% end %>

<%= link_to t('.back_to_tests'), tests_path %> 