<footer class="footer"
  <p>
  <ul>
    <li>
      <strong><%= t('.year') %></strong>
      <p><%= current_date %></p>
    </li>

    <li>
    <strong><%= t('.author') %></strong>
    <p>Автор: Артур Мунаварович</p>
    </li>

    <li>
    <strong><%= t('.git') %></strong>
    <%= github_url('Archi1881', 'test-guru') %>
    </li>

    <li>
    <strong><%= t('.link') %></strong>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :blank %>
    </li>
  </ul>
  </p>
</footer>


<p>'Приложение Test Guru' </p>

<p></p>