<h1>Question</h1>

<p>
  <%=@answer.question.body %>
</p>

<p>
  <b><%= t('.answer') %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %></b>
  <%= @answers.correct %>
</p>

<%= link_to t('helpers.back'), admin_question_path(@answer.question) %>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('helpers.edit'), edit_admin_answer_path(@answer) %>