<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/nav' %>

    <div class="container col-xl-12" %>
      <% if flash.present? %>
        < div class= "row.justify-content-center.mt-2" %>
          <alert alert-primary alert-dismissible fade show role="alert">
            <%= render 'shared/flash' %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" &times>
        </div>
      <% end %>
    </div>
      
    <%= yield %>

    <br>
    <div class="row justify-content-center mt-5" %></div>
    <%= render 'shared/footer' %>
  </body>
</html>